body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/bg.svg);
}

.title{
    display: flex;
    max-height: 100px;
    padding: 10px;
    background-image: url(/assets/images/bg.svg);
    border: 1px solid rgb(37, 14, 14);
    position: relative;
    color: white;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.521) 5px 5px 17px 11px;
    position: sticky;
    top: 0;
}
.title h1 a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
.title .list ul{
    list-style-type: none;
}
.title .list li a{
    color: white;
    text-decoration:none;
}

/* CONTENIDO DE ARTICULO */
.container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 1rem;
}
.container .header{
    border: 2px solid black;
    /* GRID COLUMN PARA EL ANCHO DEL GRID*/
    grid-column: 1/6;
}
.container .content{
    grid-row: 2;
    grid-column:3/6
}
.container .content .sidebar{
    grid-row: 2;
    grid-column: 1;
}
.container .content .content_article
.container .ugly_ad:hover{
        background-color: rgba(255, 0, 0, 0.327);
        zoom: 110%;
}

.floating{
    animation: floating 4s ease-in-out infinite;
    margin-top: 0px;
    margin-bottom: 0px;
}

@keyframes floating{
    0% {transform: translate(0, 2px);}
    50% {transform: translate(0, 10px);}
    100% {transform: translate(0, 2px);}
}


@media screen and (max-width:1025px){
    .container .ugly_ad {
        grid-column: 2;
    }
}
@media screen and (max-width:769px){
    .title{
       border:  1px solid rgb(37, 14, 14);
    }
    .container{
        width: 90%;
        margin: 0.5rem auto;
    }
    .container .content{
        grid-column: 2/6;
    }
    .container .ugly_ad{
        grid-column: 2/5;
    }
    .ugly_ad .adware{
        grid-row: 1/-1;
    }
} 
@media screen and (max-width:573px){
    .container {
        padding: 0px;
        margin: 0;

        width: 500px;
        margin: 0.5rem auto;
    }
    .container .content_article{
        padding: 0px;
    }
    .container .content{
        grid-column: 1/6;
        grid-row: 2;
    }
    .container .sidebar{
        grid-row: 3;
        grid-column: 1/6;
        column-gap: 0;
    }
    .container .ugly_ad{
        flex-direction: column;
        overflow: auto;
        column-gap: 0;
        grid-row: 4;
        grid-column: 1/6;
        max-height: 500px;
    }
}
